<a href="https://colab.research.google.com/github/atulg0110/python_ml_ai/blob/feature%2Fpython_sidebranch/Day1python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PRINT FUNCTION used to display the output to the user
#syntax print(text)

print("Hi everyone i am starting new course today")



str = "Hello"
print()
print(type (str))

In [ ]:
#WAP to display the demographics, name, native place, designation and qualification

print("My name is Atul ")
print()
print("I was born and raised in Japan")
print()
print("I am a PO in amdocs")
print()

In [ ]:
#variable

a = 10

print (a)

_A =20

print(_A)

#error
#1A = 20

In [ ]:
#data type

a =2
b  ="Hello world "
c= 2.2
d= True

print(a)
print(b)
print(c)
print(d)
print()

print(type(a))
print(type(b))
print(type(c))
print(type(d))

2
Hello world
2.2
True

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
a  = 10
b = 20


print(f" print result  {a} + {b} = {a+b} ")

print (f"check compare {a}> {b} is {a>b}")

 print result  10 + 20 = 30
check compare 10> 20 is False